:root {
  --primary-color: #f95959;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}

body {
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: var(--heading-font);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  font-family: var(--default-font);
}
img {
  border-radius: 5px;
}
.about-me {
  padding: 40px 20px;
}
.about-me h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-me h2 {
  font-size: 18px;
  font-family: var(--default-font);
}
.about-me-content {
  margin: 30px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 27px;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.first-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
}
.hero {
  background-color: #f5f2fe;
  border-radius: 5px;
  text-align: center;
  padding: 40px 20px;
}
.hero p {
  font-size: 36px;
  font-family: var(--default-font);
  font-weight: bold;
  color: #000;
  text-align: center;
  display: block;
}
.hero h3 {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: normal;
  color: #000;
}
.content-container {
  padding: 40px 20px;
}
.content-container h1 {
  color: #5e63b6;
  font-size: 64px;
  line-height: 80px;
}
.content-container h3 {
  font-size: 24px;
  font-family: var(--default-font);
}
.content-container p {
  font-family: var(--default-font);
  font-size: 16px;
}
.content {
  margin: 30px;
}
@media (max-width: 576px) {
  h1,
  h2 {
    font-size: 28px;
  }
  p {
    color: #005792;
    text-align: center;
    display: flex;
  }

  img {
    display: none;
  }
  .about-me {
    text-align: center;
    padding: 0;
  }
  .project-section1-description {
    text-align: center;
    padding: 0;
  }
  .first-link {
    display: flex;
  }
  .about-paragraphs {
    display: flex;
  }
}
